@charset "utf-8";
/* CSS Document */
/* KISSY CSS Reset */
body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,span,i,ul,a,em,img,textarea,select{margin:0;padding:0;}
*{padding:0; margin:0; list-style:none;}
body,button,input,select,textarea,font {font-size:12px;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
label,input,select {vertical-align:middle;}
address,cite,em {font-style:normal;}
fieldset{cursor:pointer;}
img{border:none;}
ul,ol {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
sub {vertical-align:text-bottom;}
sup {position:relative;top:-1px;left:2px;font:11px/normal tahoma;vertical-align:text-top;}
small {font-size:12px;}
legend {color:#333;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
      
/* default color */
a{text-decoration:none;color:#333;}
a:hover{cursor:pointer;}
a, a:active, a:focus{outline:none;}
ul,li{padding:0;margin:0;}
/* end: reset */

/**,*:before,*:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}*/
body{behavior:url("csshover.htc");font-family:"Microsoft Yahei";font-size:12px;color:#333;padding:0;margin:0;font-weight:normal;font-style:normal;}
img,object,embed {max-width:100%;height:auto;}
object,embed {height:100%;}
img{-ms-interpolation-mode:bicubic;border:none;display:inline-block;vertical-align:middle;}
textarea {height:auto;}
select {width:100%;}

/*浮动*/
.fl{float:left;}
.fr{float:right;}

/*清除浮动*/
.clearfix:before,.clearfix:after{content:".";display:block;visibility:hidden;height:0;line-height:0; font-size:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}

.clear{clear:both;height:0;overflow:hidden;}

/*container*/
.container{width:1100px;display:block;margin:0 auto;}
/*container*/

/*header*/
.header{width:100%;display:inline-block;}
/*header*/

/*mainbody*/
.mainbody{width:100%;display:inline-block;}
/*mainbody*/

/*footer*/
.footer{width:100%;display:inline-block;}
/*footer*/

/*itemer*/
.itemer{width:100%;display:inline-block;}

button,.button{border:1px solid #a3a3a3;cursor:pointer;font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;font-weight: normal;line-height: normal;text-decoration:none;text-align:center;display: inline-block;color:#333;/* @else */-webkit-appearance: none;}

.newcon{height:72px;overflow:hidden;}
.newcon,.newcon p,.newcon span,.newcon strong,.introdcon,.introdcon p,.introdcon span,.introdcon strong{font-size:13px !important;line-height:24px !important;color:#666 !important;}
.fat_link ul li a i,.fot_login a,.foobot p.fb_wibo a,#share a#totop,.contact a i.qq,.tips a,.d_reser i.res_b,.poptit .close,.f_prompt,.ibanner .prev,.ibanner .next,.iban_bot a,.p_bti i,.menu_box li a i,.help_notice .not_ico,.help_notice .close,.beye a,.uwh_title span i,.aut_tab .inp_btn,.back a,.control_bar span,.htop_fr a.h_sche i,.htop_fr a.h_drop,.aut_bti a.addto i,.mwk_hover span,.reg_top a i,.letter li a i,.tran_tab a.t_delete i{background:url(../images/look.png) no-repeat;}

.mrgB30{margin-bottom:30px;}

/* public start */
.samp,.ne_title li a em,.time_top .time span,.d_number,.arrang i,.i_box input,.em_lef h3,.em_lef span,.bti a.more{font-family:"Arial",Helvetica,sans-serif;}
.women li a span,.picBtnTop .hd ul li p,.nebti{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.recom li a p,.our_insti li a,.wrap .more,.lk_outer a.more,.status,.wsti li a,.works li a .wor_wzi,.back a,.m_sort li a,.brand-list .item{transition: all 0.3s ease-out 0s;-webkit-transition: all 0.3s ease-out 0s;-moz-transition:all 0.3s ease-out 0s;-o-transition: all 0.3s ease-out 0s;}
.our_insti li a:hover{opacity:0.7;-moz-opacity:0.7;filter:alpha(opacity=70);}
.banner .hd a,.help_notice .close,.beye a,.back a,.htop_fr a.h_drop{font-size:0;line-height:0;}
.wrap .more,.lk_outer p,.lk_outer a.more,.ne_title li a em,.bti a.more{text-transform:uppercase;}
.index_link .picimg a:hover img,.mode_title a:hover img,.ne_con li a.picimg:hover img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-moz-transition:all 1s ease 0s;-webkit-transition:all 1s ease 0s;-o-transition:all 1s ease 0s;transition:all 1s ease 0s;}
.samp{background-color:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);}
.status,.iban_form li.iban_forin input,.aut_tab .but,.poptab .but,.mw_upload a.addto,.reg_con .but,.reply .but,.compl_con .but{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
/* public end */

/* public start */
/*.mtimg img.show{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-transition:0.3s;-moz-transition:0.3s;transition:0.3s;-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);transform:rotateY(180deg);}
.women li a:hover .mtimg img.show{-webkit-transform: rotateY(360deg); -moz-transform: rotateY(360deg);transform: rotateY(360deg);}*/
/* public end */

.poptit .close,.help_notice .close{transition: all 0.6s ease-out 0s;-webkit-transition: all 0.6s ease-out 0s;-moz-transition:all 0.6s ease-out 0s;-o-transition: all 0.6s ease-out 0s;}
.poptit .close,.help_notice .close{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
.poptit .close:hover,.help_notice .close:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);}

/* page start */
.page{text-align:center;}
.page a{width:30px;height:30px;overflow:hidden;line-height:30px;margin:0 4px;text-align:center;border:1px solid #ccc;display:inline-block;vertical-align:top;background-color:#fff;color:#666;}
.page a.page-v:hover,.page .prev_s:hover,.page .next_x:hover,.page .current{color:#fff;border:1px solid #e0235b;background-color:#e0235b;}
.page .prev_s,.page .next_x{width:50px;line-height:0;font-size:0;background:#fff url(../images/page.png) no-repeat;}
.page .prev_s{background-position:22px 8px;}
.page .next_x{background-position:-12px 8px;}
.page .prev_s:hover,.page .next_x:hover{background-image:url(../images/page_hover.png);}
/* page end */

/* Top start */
#share{position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-34+"px");bottom:34px;left:94%;width:53px;zoom:1;}
#share a{display:block;width:53px;height:53px;overflow:hidden;text-indent:-999px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
#share a#totop{background-position:-80px -1px;position:absolute;bottom:206px;cursor:pointer;}
#share a#totop:hover{background-position:-134px -1px;}
/* Top end */




/*common*/
.xthide{display: none;}
.xtshow{display: block;}
.xtleft,
.xtright { _display: inline; /* for IE6 */ }
.xtleft { float: left; }
.xtright { float: right; }

/* 内填充 */
.xtpt-5 { padding-top: 5px !important; }
.xtpr-5 { padding-right: 5px !important; }
.xtpb-5 { padding-bottom: 5px !important; }
.xtpl-5 { padding-left: 5px !important; }
.xtpt-10 { padding-top: 10px !important; }
.xtpr-10 { padding-right: 10px !important; }
.xtpb-10 { padding-bottom: 10px !important; }
.xtpl-10 { padding-left: 10px !important; }
.xtp-10 { padding: 10px !important; }
.xtpt-15 { padding-top: 15px !important; }
.xtpr-15 { padding-right: 15px !important; }
.xtpb-15 { padding-bottom: 15px !important; }
.xtpl-15 { padding-left: 15px !important; }
.xtpt-20 { padding-top: 20px !important; }
.xtpr-20 { padding-right: 20px !important; }
.xtpb-20 { padding-bottom: 20px !important; }
.xtpl-20 { padding-left: 20px !important; }
.xtpt-25 { padding-top: 25px !important; }
/* 外边距 */
.xtmt-5 { margin-top: 5px !important; }
.xtmr-5 { margin-right: 5px !important; }
.xtmb-5 { margin-bottom: 5px !important; }
.xtml-5 { margin-left: 5px !important; }
.xtmt-10 { margin-top: 10px !important; }
.xtmr-10 { margin-right: 10px !important; }
.xtmb-10 { margin-bottom: 10px !important; }
.xtml-10 { margin-left: 10px !important; }
.xtmt-15 { margin-top: 15px !important; }
.xtmr-15 { margin-right: 15px !important; }
.xtmb-15 { margin-bottom: 15px !important; }
.xtml-15 { margin-left: 15px !important; }
.xtmt-20 { margin-top: 20px !important; }
.xtmr-20 { margin-right: 20px !important; }
.xtmb-20 { margin-bottom: 20px !important; }
.xtml-20 { margin-left: 20px !important; }
.xtml-35 { margin-left: 35px !important; }
.xtml-50 { margin-left: 50px !important; }
.xtmr-150 { margin-right: 150px !important; }